body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header button {
  background-color: #fff;
  border: none;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 50%;
}

body header .lang {
  -webkit-filter: drop-shadow(0px 5px 20px rgba(43, 93, 168, 0.2));
          filter: drop-shadow(0px 5px 20px rgba(43, 93, 168, 0.2));
  color: #2B5DA8;
  font-weight: bold;
}

body header .back svg {
  width: 15px;
  height: 15px;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body main .container__screen {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .container__screen .container__screen_text {
  margin: 0 30px;
}

body main .container__screen .container__screen_text .main__paragraph {
  color: #9a9a9a;
  font-size: 15px;
  max-width: 95%;
  line-height: 22px;
}

body main .container__screen .container__screen_text .main__header {
  font-size: 23px;
}

body main .container__screen .container__screen_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .container__screen .container__screen_form .container__input_code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 15px;
  max-width: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .container__screen .container__screen_form .container__input_code .code__set {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid #9a9a9a;
}

body main .container__screen .container__screen_form .container__input_code .code__set:hover {
  border: 1px solid #FFCC01;
}

body main .container__screen .container__screen_form .button__send_code {
  background-color: #e7e7e7;
  border: none;
  height: 50px;
  margin-top: 30px;
  border-radius: 25px;
  min-width: 330px;
}

body main .container__screen .container__screen_form .button__send_code .border__right {
  border-right: 2px solid black;
  min-height: 35px;
  margin-left: 5px;
  margin-right: 10px;
}

body main .container__screen .container__screen_form .button__send_code .text__bold {
  font-weight: bolder;
}

body main .container__screen .container__screen_form .main__paragraph {
  color: #9a9a9a;
  font-size: 15px;
  max-width: 95%;
  margin: 10px 20px 0 20px;
}

body main .container__screen .container__screen_form .email__additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 260px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 15px;
}

body main .container__screen .container__screen_form .email__additional p {
  color: #9a9a9a;
  font-size: 15px;
  line-height: 22px;
}

body main .container__screen .container__screen_form .email__additional p span {
  text-decoration: underline;
}

body main .container__screen .container__screen_form .email__additional p span:hover {
  color: #2B5DA8;
}

body main .container__screen .container__screen_form .email__additional input[type="checkbox"] {
  margin-right: 15px;
  margin-top: 20px;
}

body main .container__screen .container__screen_form .input {
  width: auto;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #9a9a9a;
  width: 330px;
  margin: 15px 0 0 0;
}

body main .container__screen .container__screen_form .input::-webkit-input-placeholder {
  padding-left: 15px;
  font-size: 16px;
}

body main .container__screen .container__screen_form .input:hover {
  border: 1px solid #FFCC01;
}

body main .container__screen .container__screen_form .button__login {
  width: 330px;
  margin-top: 30px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-weight: bolder;
  font-size: 16px;
  line-height: 20px;
  background-color: #FFCC01;
}

body main .container__screen .container__screen_form .button__create_account {
  width: 330px;
  height: 50px;
  -webkit-box-shadow: 0px 5px 20px rgba(43, 93, 168, 0.2);
          box-shadow: 0px 5px 20px rgba(43, 93, 168, 0.2);
  border-radius: 25px;
  background-color: #fff;
  border: none;
  font-weight: bolder;
  margin: 30px 0 10px;
}

body main .container__screen .container__back_screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body main .container__screen .container__back_screen p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 160px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 25px;
}

body main .container__screen .container__back_screen p span svg {
  width: 20px;
  height: 20px;
}

body main .container__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .container__login p {
  color: #000000;
  font-size: 13px;
  font-weight: 400, Regular;
}

body main .container__login p span {
  margin-left: 5px;
}

body main .container__login p span svg {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

body main .container__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 80%;
}

@media screen and (min-width: 1024px) {
  body {
    background-color: #2B5DA8;
  }
  body main {
    margin: 45px auto;
  }
  body main .container__screen {
    max-width: 390px;
    border-radius: 25px;
    padding-bottom: 15px;
  }
  body main .container__screen .container__screen_text {
    margin: 0 45px;
  }
  body header {
    margin: 0 45px;
  }
  body header svg {
    width: 75px;
    height: 75px;
  }
  body header svg .logo__blue {
    fill: #fff;
  }
}

.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.visibleOpacity {
  opacity: 1;
}

.nonVisibleOpacity {
  opacity: 0;
}

.display__none {
  display: none !important;
}
/*# sourceMappingURL=style.css.map */